<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<p style="color:white;font-size:2em"><b>PAGE DE PAIEMENT</b></p>
<form style="margin-top:3em" class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
  <p *ngIf="numError" class="alert alert-danger">Numero Incorrect</p>
  <div class="form-group">
    <label style="color:white">Téléphone :</label>
    <input [(ngModel)]="tel" (keyup)="numError=false" type="text" class="form-control" name="tel" autocomplete="off" />
  </div>
  <div class="form-group">
    <p *ngIf="forfaitError" class="alert alert-danger">Veuillez choisir un forfait</p>
    <label style="color:white">Forfait :</label>
    <select class="form-control" [(ngModel)]="forfait" name="forfait">
      <option value="0">--Veuillez choisir un forfait--</option>
      <option value="1">forfait 1 mois 1000</option>
      <option value="2">forfait 6 mois 3000</option>
      <option value="3">forfait 12 mois 6000</option>
    </select>
  </div>
  <button class="btn btn-block btn-outline-primary" (click)="open(content)">PAIEMENT</button>
</form>
<!--<div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>-->



<ng-template #content let-c="close" let-d="dismiss">
  <div id="h" class="modal-header " style="background: url('../../assets/image4.jpg') no-repeat center fixed;height: 150px;">
    <div style="width:48%">{{getForfait(forfait)}}</div>
    <div class=""><div style="width:2px;height:130px;background-color:white"></div></div>
    <div class="" style="width:48%">Montant :<br><div>{{getPrice(forfait)}} XOF</div></div>

  </div>
  <div class="modal-body">
    <p *ngIf="val==1" style="text-align: center;font-size: 0.7em">Veuillez choisir votre moyen de paiement.</p>
    <p *ngIf="val==2" style="text-align: center;font-size: 0.7em">Informations personnelles.</p>
    <div [ngSwitch]="val">
        <div class="row" *ngSwitchCase="1">
            <div (click)="toOm()" style="cursor:pointer;margin-bottom: 0.5em" class="col-lg-3 col-md-3 col-md-3 col-xs-3 col-sm-3">
              <img height="50px" width="60px" src="../../assets/om.png" alt="om" />
            </div>
            <div style="cursor:pointer" class="col-lg-3 col-md-3 col-md-3 col-xs-3 col-sm-3">
                <img height="50px" width="60px" src="../../assets/wari.png" alt="om" />
            </div>
            <div style="cursor:pointer" class="col-lg-3 col-md-3 col-md-3 col-xs-3 col-sm-3">
                <img height="50px" width="60px" src="../../assets/master.png" alt="om" />
            </div>
            <div style="cursor:pointer" class="col-lg-3 col-md-3 col-md-3 col-xs-3 col-sm-3">
                <img height="50px" width="60px" src="../../assets/visa.jpg" alt="om" />
            </div>
            <div style="cursor:pointer" class="col-lg-3 col-md-3 col-md-3 col-xs-3 col-sm-3">
                <img height="50px" width="60px" src="../../assets/poste.jpg" alt="om" />
            </div>
      
          </div>
          <div *ngSwitchCase="2">
            <form>
              <div class="form-group">
                <label><b>Téléphone</b></label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                  <label><b>Code Autorisation</b></label>
                  <input type="text" class="form-control" />
                </div>
            </form>
            <p>Pour obtenir un code d'autorisation composer ou cliquez #144#391#</p>
            <div style="width:100px;margin-left:auto;margin-right:auto">
              <img width="95px"  height="90px" src="../../assets/om.png" alt="om" />
            </div>
          </div>
          <div *ngSwitchDefault class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div> 

    </div>
  </div>
  <div style="text-align:center" class="modal-footer">
    <div id="button" style="width:90%;margin-left: auto;margin-right: auto">
        <label (click)="close()"  style="background-color:red;margin-right:10px" >Annuler</label>
        <label *ngIf="val==1" style="background-color:green;" (click)="c('Save click')">Suivant</label>
        <label *ngIf="val==2" style="background-color:green;" (click)="c('Save click')">Valider</label>
    </div>
   
  </div>
</ng-template>

<router-outlet></router-outlet>